
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

tmp/*
config/database.php
app/tmp/*
app/config/database.php
!empty
_notes/*
*/_notes/dwsync.xml
*/_notes/dwsync.xml
Config/Schema/_notes/dwsync.xml
Console/Command/_notes/dwsync.xml
Console/Command/Task/_notes/dwsync.xml
webroot/uploads/*
nbproject/private/_notes/dwsync.xml
*/_notes/*
*_notes/dwsync.xml
Console/Templates/_notes/dwsync.xml
Controller/Component/_notes/dwsync.xml
Config/core.php
/Config/database.php
/Config/email.php
/Config/facebook.php
Config/core.php*
